* {
    font-family: Raleway;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.container .input {
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    color: rgba(68, 68, 68, 50%);
    padding: 0 25px 15px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}

.container .button-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 240px;
    width: 100%;
    cursor: pointer;
}

.container .button-wrapper .button {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border: none;
    background: rgba(0, 0, 0, 1);
    padding: 17px 74px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.container .button-wrapper .vertical-line {
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    padding: 25px 0px;
}

.container .price {
    display: flex;
    gap: 15px;
}

.container .price .carrent-price {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.container .price .old-price {
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    text-transform: capitalize;
    text-decoration: line-through;
    color: rgba(68, 68, 68, 1);
}

.container .custom-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container .custom-list .item {
    color: rgba(68, 68, 68, 1);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}

.container .custom-list .item::before {
    content: '';               
    display: flex;          
    width: 5px;                       
    height: 5px;
    margin-right: 8px;
    background-image: url('../assets/icons/sqare.svg');
}

.container .custom-list .item.active {
    color: #FF8E8E;
}

.container .custom-list .item.active::before {
    content: '';
    display: flex;
    width: 25px;
    height: 3px;
    margin-right: 8px;
    background-image: url('../assets/icons/small-row.svg');
}




.first-screen {
  width: 100%;
  height: 471px;
}

.content-shop {
  width: 850px;
  height: 322px;
  position: absolute;
  top: 103px;
  left: -60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dot-pattern {
  position: absolute;
  top: 52px;
  left: 132px;
  width: 322px;
  height: 354px;
  z-index: 1;
  background-image: radial-gradient(circle, #000 1px, transparent 1px);
  background-size: 30px 30px;
  opacity: 50%;
  transform: rotate(90deg)
}

.text-content-shop {
  top: 63px;
  left: 432px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  color: #000;
  margin: 0;
  z-index: 2;
  position: relative;
}

.bread-crumbs {
  position: absolute;
  top: 281px;
  left: 431px;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 2;
}

.vertical-line {
  width: 1.5px;
  height: 21px;
  background-color: #000;
  opacity: 1;
  z-index: 2;
}

.horizontal-line {
  position: relative;
  width: 850px;
  height: 2px;
  background-color: #000;
  opacity: 1;
    z-index: 1;
    top: 122px;
    left: 60px;
}

.image-shop {
    margin-top: 50px;
    margin-left: 1000px;
    margin-bottom: 199px;
    width: 800px;
    height: 400px;
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    z-index: 0;
}


.container .find-us .find-us-text {
    margin: 0 0 20px 0;
    font-weight: 500;
    line-height: 170%;
    color: rgba(0, 0, 0, 1);
}

.container .find-us .find-us-links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 250px;
}

.container .find-us .find-us-links .find-us-link a {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(68, 68, 68, 1);
}

.container .find-us .find-us-links .line {
    border-bottom: 1px solid #444444;
    height: 1px;
    width: 10px;
}