.shop {
    display: flex;
    gap: 50px;
}

/* ---Левое меню--- */
.shop .sidebar {
    max-width: 244px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.shop .sidebar .search {
    position: relative;
}

.shop .sidebar .search .search-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.shop .sidebar .sidebar-item {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.shop .sidebar .sidebar-item .sidebar-title {
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: left;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding-bottom: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .custom-list {
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .price-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name::before {
    content: '';
    display: inline-flex;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(238, 238, 238, 1);
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name {
    color: rgba(255, 142, 142, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name::before {
    background-image: url("../icons/pink-chekbox.svg");
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product {
    display: flex;
    gap: 15px;
    align-items: center;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .image {
    width: 75px;
    height: 85px;
    background: rgba(241, 242, 243, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .name {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(68, 68, 68, 1); 
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price {
    display: flex;
    gap: 10px;
}

/* ---КАРТОЧКИ--- */
.shop .products-wrapper {
    max-width: 846px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop .products-wrapper .sort-and-count {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.shop .products-wrapper .sort-and-count .sort {
    max-width: 262px;
    width: 100%;
}

.shop .products-wrapper .sort-and-count .sort .input {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;

}

.shop .products-wrapper .products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.shop .products-wrapper .products .product {
    max-width: 262px;
    width: 100%;
    position: relative;          
    display: flex;               
    flex-direction: column;
    gap: 20px;
}

.shop .products-wrapper .products .product .photo {
    height: 365px;
    background: #F1F2F3;
}

.shop .products-wrapper .products .product .photo .top-bar {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 222px;
}

.shop .products-wrapper .products .product .photo .top-bar .labels {
    display: flex;
    gap: 15px;
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label {
    font-weight: 800;
    font-size: 10px;
    line-height: 10px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: rgba(255, 142, 142, 1);
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label.new {
    background-color: rgba(149, 204, 181, 1);
}

.shop .products-wrapper .products .product .info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.shop .products-wrapper .products .product .info .name {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}

.shop .products-wrapper .products .product .info .price {
    display: flex;
    gap: 15px;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 1);
}

/* ---Выбор страниц--- */
.shop .products-wrapper .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.shop .products-wrapper .pagination .pages {
    display: flex;
    gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    height: 25px;
    opacity: 30%;
    width: 10px;
    text-align: center;
}

.shop .products-wrapper .pagination .pages .page.active {
    opacity: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    width: 22px;
    text-align: center;
}

.text-home,
.text-shop {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.text-shop {
  color: #FF8E8E;
  font-weight: 500;
}

.subscribe {
  margin: 198px 114px 120px 126px;
  display: flex;
  flex-direction: column;
  max-width: 1680px;
  width: 100%;
  height: 450px;
  background: rgba(241, 242, 243, 1);
  position: relative; 
  overflow: visible;  
}

.subscribe .subscribe-info {
  margin: 0px 275px;
  max-width: 624px;
  height: 288px;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dot-patterny {
  position: absolute;
  top: -38px;       
  right: 795px;      
  width: 130px;
  height: 130px;
  z-index: 10;     
  background-image: radial-gradient(circle, #000 1px, transparent 2px);
  background-size: 28px 27px;
  opacity: 0.5;     
  pointer-events: none; 
}


.subscribe .subscribe-info .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 60px 60px 0;
}

.subscribe .subscribe-info .title {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  margin: 0;
}

.subscribe .subscribe-info .info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  margin: 0;
}

.subscribe .subscribe-info .email {
  display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
}

.subscribe .subscribe-info .input {
  max-width: 360px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(68, 68, 68, 20%);
  color: rgba(68, 68, 68, 50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  padding: 0 25px 15px 0;
  box-sizing: border-box;
}

.subscribe .subscribe-info .button-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  max-width: 140px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: relative;
}

.subscribe .subscribe-info .button {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  border: none;
  background: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.subscribe .subscribe-info .vertical-line {
    width: 2px;
    height: 50px;
    background: rgba(0, 0, 0, 1);
    margin-left: 1px;
}